:root, :before, :after{
  --bg-2:#212121; 
  --bg-3:#000000;  
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-default-1:#616161; 
  --color-default-2:#212121;
  --color-default-3:#D4A418;
  --color-border:#E0E0E0; 
  --color-fb:#1877f2;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --color-tg:#0088cc;
  --rounded-1:var(--size-1);
  --rounded-2:var(--size-2);
  --rounded-3:var(--size-4);
  --hover-opacity:0.34;
  --transition-default:all 0.34s;
  --shadow-default:0 2px 10px rgb(0 0 0 / 25%);
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-default-1);}
html{background-color:#2F2F2F;}
body.freeze-scroll{overflow:hidden;}
a, .btn, button{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-default-2); fill:var(--color-default-2);}
a:hover, button:hover{color:var(--color-default-3); fill:var(--color-default-3);}
.btn, a.btn, button.btn{background-color:var(--color-default-3); color:var(--bg-1); fill:var(--bg-1); border-radius:var(--rounded-3);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-default-3);}
#btt{position:fixed; bottom:calc(var(--size-6) + var(--size-4)); right:0; cursor:pointer;
z-index:calc(var(--max-zindex) - 4000); width:40px; height:40px; background-color:var(--color-default-3); fill:var(--bg-2);
border-top-left-radius:var(--rounded-2); border-bottom-left-radius:var(--rounded-2);}
#btt:hover, #btt:focus{background-color:var(--color-default-3);}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-default-1);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.header-list .header-link:hover{opacity:0.55;}



.rancak-title, .rancak-related-title{color:var(--color-default-2);}
.rancak-more, .rrl-more{color:var(--color-default-3); fill:var(--color-default-3);}
.rancak-more:hover, .rrl-more:hover{color:var(--color-default-2); fill:var(--color-default-2);}



.rrl-link{background-color:var(--bg-1); color:var(--color-default-2) !important; border-radius:var(--rounded-2); border-color:var(--color-border); overflow:hidden;}
.rrl-link:hover{background-color:var(--color-border);}



.rancak-instagram{border-color:var(--color-border); border-radius:var(--rounded-2); overflow:hidden;}



footer{display:grid; grid-gap:var(--size-1); background-color:var(--bg-menu); padding:var(--size-4); color:var(--bg-1);}
.footer-socmed-link:hover{opacity:0.55;}
.footer-copyright{text-align:center;}