*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:1920px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --menu-width:210px;
  --bg-1:#1A1A1A;
  --sidebar-width:300px;
}



body, html{font-family:'Montserrat',sans-serif; font-size:var(--default-fontsize); font-weight:500; letter-spacing:0.5px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
.btn, a.btn, button.btn, .button-more-link{padding:var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



header{position:sticky; z-index:calc(var(--max-zindex) - 2000); top:0; background-color:var(--bg-1); display:flex; justify-content:space-between;}
header:after{content:''; display:block; position:absolute; bottom:0; left:0; width:100%; height:1px;}

.header-list{display:flex;}
.header-link{padding:var(--size-3);}
.header-link:last-child{padding-right:var(--size-4);}
.header-link .svgicon{width:auto; height:var(--size-4);}

.logo-link{height:var(--size-6); padding-left:var(--size-4);}
.logo-link .logo{width:auto; height:var(--size-4);}



.rancak-container{display:grid; min-height:calc(100vh - var(--size-6));}



.rancak-content-box{position:relative;}
.rancak-content-box:before{content:''; display:block; padding-top:56.25%;}
.rancak-player{position:absolute; top:0; left:0;  width:100%; height:100%;}



.rancak-sidebar{display:grid; grid-gap:var(--size-5); padding:var(--size-4) 0;}

.rancak-info{padding:0 var(--size-4); display:grid;}
.rancak-title, .rancak-related-title{font-weight:bold; font-size:var(--size-4); margin-bottom:var(--size-3);}
.rancak-desc, .rrl-title{line-height:150%; overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3;}
.rancak-more, .rrl-more{display:flex; align-items:center; margin-top:var(--size-1);}
.rancak-more .svgicon, .rrl-more .svgicon{width:auto; height:12px; margin-left:var(--size-1);}

.rancak-instagram-box{position:relative; width:100%;}
.rancak-instagram-box:before{padding-top:calc(66.66% + 160px);}
.rancak-instagram-box iframe{position:absolute; top:0; left:0; width:100%; height:100%;}

.rancak-related{padding:0 var(--size-4);}
.rancak-related-list{display:grid; grid-gap:var(--size-1);}
.rrl-link{display:grid; grid-template-columns:76px 1fr; align-items:center;}
.rrl-thumb:before{padding-top:100%;}
.rrl-info{display:grid; grid-gap:var(--size-3); grid-auto-rows:min-content; padding:var(--size-2) var(--size-3);}
.rrl-title{font-weight:bold; line-height:140%;}
.rrl-more{margin-top:var(--size-2);}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  .rancak-content{}
  
  @media screen and (orientation:portrait){
    .rancak-content{position:sticky; z-index:calc(var(--max-zindex) - 3000); top:var(--size-6);}
  }
  
  @media screen and (orientation:landscape){
    header{position:fixed; z-index:1; top:0; left:0; width:100%;}
	
	.rancak-content{position:relative; z-index:calc(var(--max-zindex) - 1000); top:0;}
  }
}





@media screen and (min-width:568px) and (max-width:1023px){
  .rancak-instagram-box:before{padding-top:calc(66.66% + 200px);}
}





@media screen and (min-width:1024px){
  .mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}
  .mobile-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  .rancak-container{grid-template-columns:1fr 300px;}
  
  .rancak-content-box{position:sticky; z-index:1; top:var(--size-6); height:100%; max-height:calc(100vh - var(--size-6));}
  
  .rancak-sidebar{padding:0; grid-auto-rows:min-content;}
}